<!--
  Generated template for the InboxWritingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-item no-lines style="text-align: center">
      <button item-start ion-button clear (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
      <!--<ion-title *ngIf="!inbox">Nuevo chat</ion-title>-->
      <!--<ion-title *ngIf="inbox">Editar chat</ion-title>-->
      <div *ngIf="multipleSelection" item-end>
        <button ion-button clear (click)="confirmSave()">
          <ion-icon name="checkmark" color="success"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-navbar>

</ion-header>

<ion-content padding align="center">
  <ion-list-header *ngIf="(followedes ? followedes.length : true) && multipleSelection">
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="{{inboxAvatar}}"/>
      </ion-avatar>
      <ion-input [(ngModel)]="inboxName" placeholder="Ingrese el nombre del grupo..."></ion-input>
      <button item-end (click)="openImagePicker()" ion-button icon-only clear><ion-icon name="image"></ion-icon></button>
    </ion-item>
  </ion-list-header>
  <empty-content *ngIf="followedes ? !followedes.length : false" align="center" [message]="getCaption('inboxWritingFollowedListEmpty')"></empty-content>
  <ion-list *ngIf="!multipleSelection">
    <ion-item *ngFor="let followed of followedes" (click)="openInbox(followed)">
      <ion-avatar item-start>
        <img src="{{followed.avatar}}"/>
      </ion-avatar>
      <ion-label>{{followed.username}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="multipleSelection">
    <ion-item *ngFor="let followed of followedes">
      <ion-avatar item-start>
        <img src="{{followed.avatar}}"/>
      </ion-avatar>
      <ion-label>{{followed.username}}</ion-label>
      <ion-checkbox item-end color="primary" [checked]="userSelected(followed._id)" (ionChange)="updateSelectedUsers(followed._id)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Obteniendo más información...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
