page-login {

  .login-with-content {
    background-color: color($colors,lightgray,base);
  }

  .login-icon {
    font-size: 80px !important; //Preferred size here
  }

  .scroll-content {
    display: flex;
    align-items: center;
  }

  .login-with-button {
    color: color($colors,white,base);;
  }

  .fab-list-active {
    margin-bottom: 130px;
  }
}
