my-emoji-picker {
  margin: 0 !important;
  emoji-picker{
    z-index: 999999999 !important;
  }
  emoji-content{
    z-index: 999999999 !important;
  }

  emoji-list{
    z-index: 999999999 !important;
  }

}
