<!-- Generated template for the PublicationHeaderComponent component -->
<ion-item>
  <ion-avatar item-start>
    <img [src]="user.avatar" (error)="getCachedAvatar()">
  </ion-avatar>
  <div>
    <p class="publication-important-text">{{publication.places[0].name}}</p>
    <p>{{publication.score}}<ion-icon name="star"></ion-icon></p>
  </div>
  <div item-end>
    <p class="publication-important-text">{{user.username}}</p>
    <p align="right">{{user.score}}<ion-icon name="star"></ion-icon></p>
  </div>
</ion-item>
