<!-- Generated template for the PublicationHeaderComponent component -->
<ion-item *ngIf="publication._id" no-lines>
  <ion-avatar item-start>
    <img [src]="user.avatar" (error)="getCachedAvatar()">
  </ion-avatar>
  <div item-left>
    <p class="publication-important-text">{{publication.places[0].name}}</p>
    <p>{{publication.score | number:'1.0-2' }}<ion-icon name="star" color="star"></ion-icon> / {{publication.assessments?publication.assessments.length:''}}<ion-icon name="eye" color="primary"></ion-icon></p>
  </div>
  <button item-left *ngIf="edit" ion-button icon-only clear (click)="presentPlaceUpdating()">
    <ion-icon name="create"></ion-icon>
  </button>
  <div item-end>
    <p class="publication-important-text">{{user.username}}</p>
    <p align="right">{{user.score | number:'1.0-1' }}<ion-icon name="star" color="star"></ion-icon> / {{user.publications?user.publications.length:''}}<ion-icon name="image" color="secondary"></ion-icon></p>
  </div>
</ion-item>
<ion-item *ngIf="!publication._id" (click)="presentPlaceUpdating()" no-lines>
  <button item-start *ngIf="edit" ion-button icon-only clear>
    <ion-icon name="map"></ion-icon>
  </button>
  <p *ngIf="publication.places" class="publication-important-text">{{publication.places[0].name}}</p>
  <p *ngIf="!publication.places" class="publication-important-text">Agregar destino</p>
</ion-item>
