<!--
  Generated template for the ActivitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="directionFilter.value" color="secondary">
      <ion-segment-button value="IN" (click)="getInActivities()">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="OUT" (click)="getOutActivities()">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <div [ngSwitch]="directionFilter.value">
    <div *ngSwitchCase="'IN'" style="text-align: center">
      <ion-list *ngSwitchCase="'IN'">
        <ion-item *ngFor="let activity of activities | containsFilter:{'key':'direction', 'value':'IN'}; let i=index" [ngClass]="{'newActivity': i<unseenActivitiesCount}">
          <ion-avatar class="in-activity-avatar" item-start (click)="openUser(activity.relatedUsers[0]._id)">
            <img src="{{activity.relatedUsers[0].avatar}}">
          </ion-avatar>
          <p class="publication-important-text" text-wrap>{{getActivityCaption(activity.caption, activity.relatedUsers[0].username,activity.params)}}</p>
          <ion-note>{{getAntiquity(activity.timestamps.created)}}</ion-note>
          <ion-thumbnail item-end (click)="openPublication(activity.publication)">
            <img *ngIf="activity.publication" src="{{activity.publication.images[0].url}}">
          </ion-thumbnail>
        </ion-item>
      </ion-list>
      <empty-content *ngIf="emptyActivities('IN')" [message]="getCaption('inActivityListEmpty')"></empty-content>
    </div>
    <div *ngSwitchCase="'OUT'" style="text-align: center">
      <ion-list>
        <ion-item *ngFor="let activity of activities | containsFilter:{'key':'direction', 'value':'OUT'}">
          <p class="publication-important-text" text-wrap>{{getActivityCaption(activity.caption,activity.relatedUsers.length? activity.relatedUsers[0].username : '',activity.params)}}</p>
          <ion-note>{{getAntiquity(activity.timestamps.created)}}</ion-note>
          <ion-thumbnail *ngIf="activity.publication" item-end (click)="openPublication(activity.publication)">
            <img src="{{activity.publication.images[0].url}}">
          </ion-thumbnail>
          <ion-avatar class="out-activity-avatar" *ngIf="!activity.publication && activity.relatedUsers" item-end (click)="openUser(activity.relatedUsers[0]._id)">
            <img src="{{activity.relatedUsers[0].avatar}}">
          </ion-avatar>
        </ion-item>
      </ion-list>
      <empty-content *ngIf="emptyActivities('OUT')" [message]="getCaption('outActivityListEmpty')"></empty-content>
    </div>
  </div>
</ion-content>
