<!-- Generated template for the CommentListComponent component -->
<ion-list class="comment-list">
  <comment *ngFor="let comment of data" [data]=comment [publicationId]=publicationId [publicationOwner]=publicationOwner (commentDeleted)="commentDeleted($event)"></comment>
  <ion-item no-padding>
    <ion-textarea id="{{publicationId}}" [(ngModel)]="commentValue" item-start style="font-size: x-small" placeholder="Escribe un comentario..."></ion-textarea>
    <button item-left ion-button clear (click)="sendComment()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</ion-list>
