page-publication-writing {
  //.swiper-slide{
  //  height: 400px !important;
  //}
  //.swiper-slide-active{
  //  height: 400px !important;
  //}
  //
  //.swiper-wrapper{
  //  height: 400px !important;
  //}
  .image-action-buttons{
    position: absolute;
    right: 0;
    top: 10px;
  }
}
