page-publication-writing {
  .image-action-buttons{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .image-action-buttons button{
    font-size: x-small;
  }
  ion-slides{
    max-height: 220px !important;
  }
}
