publication-footer {
  ion-icon{
    font-size: large !important;
  }
  .publication-button{
    margin-bottom: 0 !important;
  }
  .start-button{
    padding-left: 10px !important;
  }
  .end-button{
    padding-right: 10px !important;
  }
  .item-inner{
    padding: 0 !important;
  }
  ion-note{
    margin-bottom: 0 !important;
    font-size: xx-small !important;
  }
}
