<!-- Generated template for the PublicationFooterComponent component -->
<ion-list>
  <ion-item class="publication-buttons-item">
    <button item-start *ngIf="data.experiences.length >0" class="publication-button" (click)="toggleSection(0)" ion-button clear>
      <ion-icon class="publication-icon" name="ios-paper" isActive="{{sections[0].show}}">
        <ion-badge class="publication-badge">{{data.experiences.length}}</ion-badge>
      </ion-icon>
    </button>
    <button item-left class="publication-button" (click)="toggleSection(1)" ion-button clear>
      <ion-icon class="publication-icon" name="ios-text" isActive="{{sections[1].show}}">
        <ion-badge *ngIf="data.comments.length >0" class="publication-badge">{{data.comments.length}}</ion-badge>
      </ion-icon>
    </button>
  </ion-item>
</ion-list>
<experience-list *ngIf="sections[0].show" [data]=data.experiences></experience-list>
<comment-list *ngIf="sections[1].show" [data]=data.comments></comment-list>
