publication-footer {
  .start-button{
    padding-left: 0 !important;
  }
  .end-button{
    padding: 0 !important;
    margin: 0 !important;
  }
  .item-inner{
    padding: 0 !important;
  }
  ion-note{
    font-size: xx-small !important;
  }
}
