<!-- Generated template for the PublicationFooterComponent component -->
<ion-list style="position: relative">
  <score-handler [scoreInputShowed]="scoreInputShowed" [publicationScore]="currentUserScore" [publicationId]="publication._id"></score-handler>
  <ion-item class="publication-buttons-item">
    <button item-start class="publication-button start-button" (click)="toggleSection(0)" ion-button clear>
      <ion-icon class="publication-icon" name="ios-paper" color="secondary" isActive="{{sections[0].show}}">
        <ion-badge *ngIf="experiences.length >0" class="publication-badge">{{experiences.length}}</ion-badge>
      </ion-icon>
    </button>
    <button item-left class="publication-button" (click)="toggleSection(1)" ion-button clear>
      <ion-icon class="publication-icon" name="ios-text" color="secondary" isActive="{{sections[1].show}}">
        <ion-badge *ngIf="comments.length >0" class="publication-badge">{{comments.length}}</ion-badge>
      </ion-icon>
    </button>
    <button item-left class="publication-button" (click)="toogleScoreInput()" ion-button clear>
      <ion-icon class="publication-icon" name="ios-star" color="secondary" isActive="{{scoreInputShowed}}"></ion-icon>
    </button>
    <ion-note item-right>{{getAntiquity(publication.timestamps.created)}}</ion-note>
    <button item-end class="publication-button end-button" (click)="presentPublicationWritingModal()" ion-button clear>
      <ion-icon class="publication-icon" name="share-alt" color="secondary"></ion-icon>
    </button>
  </ion-item>
</ion-list>
<experience-list *ngIf="sections[0].show" [experiences]=experiences [publicationId]=publication._id [publicationOwner]=user._id></experience-list>
<comment-list *ngIf="sections[1].show" [comments]=comments [publicationId]=publication._id [publicationOwner]=user._id></comment-list>
