<!-- Generated template for the ExperienceComponent component -->
<ion-list>
  <ion-card>
    <ion-card-header ion-item>
      <p *ngIf="!editionMode" item-start style="font-size: xx-large">
        {{data.category}}
      </p>
      <ion-input *ngIf="editionMode" item-start [(ngModel)]="categoryInput" style="font-size: xx-large"></ion-input>
      <div *ngIf="editionMode" item-end>
        <button color="success" ion-button clear (click)="confirmUpdate()">
          <ion-icon style="font-size: 20px" name="checkmark"></ion-icon>
        </button>
        <button color="danger" ion-button clear (click)="toogleEditionMode()">
          <ion-icon style="font-size: 20px" name="close"></ion-icon>
        </button>
      </div>
      <div *ngIf="checkEditionPermission() && !editionMode" item-end>
        <button ion-button (click)="toogleEditionMode()" clear><ion-icon name="create"></ion-icon></button>
        <button ion-button (click)="confirmDelete()" clear><ion-icon name="trash" color="danger"></ion-icon></button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="!editionMode">{{data.content}}</p>
      <ion-textarea *ngIf="editionMode" [(ngModel)]="contentInput"></ion-textarea>
    </ion-card-content>
  </ion-card>
</ion-list>
