<!-- Generated template for the ExperienceComponent component -->
<ion-list>
  <ion-card>
    <ion-card-header ion-item>
      <p *ngIf="!editionMode" item-start style="font-size: xx-large">
        {{data.category}}
      </p>
      <ion-input *ngIf="editionMode" item-start [(ngModel)]="categoryInput" style="font-size: xx-large"></ion-input>
      <button *ngIf="checkEditionPermission() && !editionMode" item-right ion-button (click)="toogleEditionMode()" clear><ion-icon name="create"></ion-icon></button>
      <button *ngIf="checkDeletePermission() && !editionMode" item-end ion-button (click)="removeExperience()" clear><ion-icon name="trash" color="danger"></ion-icon></button>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="!editionMode">{{data.content}}</p>
      <ion-textarea *ngIf="editionMode" [(ngModel)]="contentInput"></ion-textarea>
    </ion-card-content>
  </ion-card>
</ion-list>
