<!-- Generated template for the PublicationBodyComponent component -->
<!--<publication-actions class="publication-actions-button" [publication]="publication" [user]="user"></publication-actions>-->
<ion-slides align="center">
  <!--<publication-actions class="publication-actions-button" [publication]="publication" [user]="user"></publication-actions>-->
  <ion-slide *ngFor="let image of publication.images">
    <publication-actions class="publication-actions-button" [publication]="publication" [user]="user"></publication-actions>
    <publication-image [id]=image._id [url]=image.url></publication-image>
    <!--<img id="{{image.url}}" class="publication-image" src='{{image.url}}'/>-->
  </ion-slide>
</ion-slides>
<p item-start class="publication-description"><span *ngIf="publication.description"><b>{{user.username}}</b>&nbsp;{{publication.description}}</span></p>


