<!-- Generated template for the PublicationBodyComponent component -->
<ion-slides align="center">
  <publication-actions [publication]="publication" [user]="user"></publication-actions>
  <ion-slide *ngFor="let image of publication.images">
    <publication-image [id]=image._id [url]=image.url></publication-image>
    <!--<img id="{{image.url}}" class="publication-image" src='{{image.url}}'/>-->
  </ion-slide>
</ion-slides>
<p *ngIf="publication.description" class="publication-description"><b>{{user.username}}</b>&nbsp;{{publication.description}}</p>
