<!-- Generated template for the PublicationComponent component -->
<ion-card text-wrap>
  <ion-card-header class="publication-card-header">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{data.user.avatar}}">
      </ion-avatar>
      <div>
          <p class="publication-important-text">{{data.places[0].name}}</p>
          <p>{{data.score}}<ion-icon name="star"></ion-icon></p>
      </div>
      <div item-end>
        <p class="publication-important-text">{{data.user.username}}</p>
        <p align="right">{{data.user.score}}<ion-icon name="star"></ion-icon></p>
      </div>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-slides align="center">
      <ion-slide *ngFor="let image of data.images">
        <img class="publication-image" src="{{image.url}}" />
      </ion-slide>
    </ion-slides>
    <p *ngIf="data.description!=null" class="publication-description"><b>{{data.user.username}}</b>&nbsp;{{data.description}}</p>
    <ion-list>
      <ion-item class="publication-buttons-item">
        <button item-start *ngIf="data.experiences.length >0" class="publication-button" (click)="toggleSection(0)" ion-button clear>
          <ion-icon class="publication-icon" name="ios-paper" isActive="{{sections[0].show}}">
            <ion-badge class="publication-badge">{{data.experiences.length}}</ion-badge>
          </ion-icon>
        </button>
        <button item-left class="publication-button" (click)="toggleSection(1)" ion-button clear>
          <ion-icon class="publication-icon" name="ios-text" isActive="{{sections[1].show}}">
            <ion-badge *ngIf="data.comments.length >0" class="publication-badge">{{data.comments.length}}</ion-badge>
          </ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="sections[0].show">
      <experience *ngFor="let experience of data.experiences" [data]=experience [show]="!sections[0].show"></experience>
      <button item-left class="publication-button" color="secondary" ion-button clear>
        <ion-icon style="font-size: 20px" class="publication-icon" name="ios-add-circle"></ion-icon>
      </button>
    </ion-list>
    <div *ngIf="sections[1].show">
      <comment-list [data]=data.comments></comment-list>
    </div>
  </ion-card-content>
</ion-card>
