publication {


}

publication ion-card{
  width: 100%;
  margin: 0 auto;
  padding: 0
}
ion-card-header{
  width: 100%;
  margin: 0 auto;
  padding: 0
}
ion-item{
  width: 100%;
  margin: 0;
  padding: 0
}
ion-card-content{
  width: 100%;
  padding: 0
}
