publication {
}

.publication-card-header{
  width: 100%;
  margin: 0 auto;
  padding: 0
}

.publication-badge{
  padding: 1px 5px;
  font-size: xx-small;
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
}

.publication-icon{
  font-size: x-large;
}

.publication-buttons-list{
}

.publication-buttons-item{
  padding: 0!important;
  margin: 0;
}

.secondary-title .toolbar-title-md{
  all: initial;
  cursor: pointer;
  font-size: medium;
  font-family: 'Chiller', cursive
}

p{
  font-size: x-small !important;
}

.publication-important-text{
  font-weight: bold !important;
}

.text-with-ellipsis{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.fullscreen-loading{
  background-color: color($colors,light,base);
}

publication ion-card{
  width: 100%;
  margin: 0 auto;
  padding: 0
}
ion-card-header{
  width: 100%;
  margin: 0 auto;
  padding: 0
}
ion-item{
  width: 100%;
  margin: 0;
  padding: 0
}
ion-card-content{
  width: 100%;
  padding: 0
}

.publication-footer-section{
  width: 100%;
}

.comment-list {
  padding: 10px 0 10px 10px;
  width: 100%;
}

.comment-list p, textarea, input{
  font-size: xx-small !important;
}

.comment-list ion-icon{
  font-size: large !important;
}

.comment-content{
  position: relative;
  padding-left: 25px;
}

.comment-list .item-md.item-block .item-inner{
  padding-right: 0 !important;
}

.comment-avatar{
  position: absolute;
  left: 0;
  top: 10px;
  margin: 0 !important;
}

.comment-avatar img{
  max-width: 20px !important;  //any size
  max-height: 20px !important; //any size
}

.comment-edition{
  margin: 0 !important;
  padding: 0 !important;
}

.comment-button-list{
  margin: 0 !important;
  padding: 0 !important;
}
