<!-- Generated template for the PublicationComponent component -->
<ion-card text-wrap>
  <ion-card-header class="publication-card-header">
    <publication-header [user]=data.user [publication]=data.publication></publication-header>
  </ion-card-header>
  <ion-card-content no-padding>
    <publication-body [user]=data.user [publication]=data.publication></publication-body>
    <publication-footer [publication]=data.publication [comments]=data.comments [experiences]=data.experiences [user]=data.user [scoreGivenFromUser]="scoreGivenFromUser"></publication-footer>
  </ion-card-content>
</ion-card>
