publication {
}

.secondary-title .toolbar-title-md{
  -webkit-text-stroke: 1px lightblue !important;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 1px  1px 0 lightgrey,
  -1px -1px 0 lightgrey,
  1px -1px 0 lightgrey,
  -1px  1px 0 lightgrey,
  1px  1px 0 lightgrey;
  font-size: xx-large;
  font-family: 'Chiller', cursive
}

publication ion-card{
  width: 100%;
  margin: 0 auto;
  padding: 0
}
ion-card-header{
  width: 100%;
  margin: 0 auto;
  padding: 0
}
ion-item{
  width: 100%;
  margin: 0;
  padding: 0
}
ion-card-content{
  width: 100%;
  padding: 0
}
